{% extends 'base.html' %}

{% block content %}

<title>Add individual Item Page</title>
<p hidden List ID: {{ list_id }}></p>

<h2>Add an item to your List</h2>
 
	<!-- BOOTSTRAP version -->
<div>
	<form action="/add_another_item" method="POST" id="item_form">
		Choose a category for your item:
		<select class="c-select" name="category_name">Categories
			<option selected name="category_name">Category</option>
			<option value="restaurant">Restaurant</option>
			<option value="bar">Bar</option>
			<option value="museum">Museum</option>
		</select>
			<br>
			<br>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2" class="col-sm-2 form-control-label">Name</label>
			<input type="text" name="item_name" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
		</fieldset>

		<fieldset class="form-group">
			<label for="formGroupExampleInput2" class="col-sm-2 form-control-label">Address</label>
			<input type="text" name=name="item_address" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
		</fieldset>

		<fieldset class="form-group">
			<label for="exampleTextarea" class="col-sm-2 form-control-label">Item comments</label>
			<textarea name="item_comments" class="form-control" id="exampleTextarea" rows="3"></textarea>
		</fieldset>

			<input type="submit">   
	</form>

</div>

{% endblock %}


 <!-- Old Html -->
<!--<form action="/add_another_item" method="POST" id="item_form">
		    Category:
			<select name="category_name">
				<option value="restaurant">Restaurant</option>
				<option value="bar">Bar</option>
				<option value="museum">Museum</option>
			</select>  

			Name <input type="text" name="item_name" required>       
			Address <input type="text" name="item_address" required>
			Comments 
			<textarea name="item_comments" rows="4" cols="50" required></textarea>
			Save Item <input type="submit">   
    	</form>
	</div>
 -->




