{% extends 'base.html' %}
{% block content %}

<h1>Add an item to your List</h1>

List Name: {{ list_name }}
<br> 
Location: {{location_name}}
<br>        

<form action="/add_items" method="POST">

Add something to your list:
    Category:
        <select name="category_name">
            <option value="restaurant">Restaurant</option>
            <option value="bar">Bar</option>
            <option value="museum">Museum</option>
        </select>  
        <br>
        <br>
    Name <input type="text" name="item_name">
        <br>
        <br>       
    Address <input type="text" name="item_address">
        <br>
        <br>       
    Comments <input type="text" name="item_comments">
        <br>
        <br>
    Save Item <input type="submit">    
        <br>
</form>

<!-- <form>
Would you like to add another item?
<form action="/add_items">
    <input type="radio" name="YN" value="yes">YES
    <input type="radio" name="YN" value="no">NO
    <input type="submit"> 
</form> -->

    <!-- input type="submit" name="button_1" value="Click me"> -->
    <!-- <button type="submit" name="action" value="update">Update</button>

    <button type="submit" name="action" value="new_item">Add Another Item</button> -->

{% endblock %}