<!DOCTYPE html>
<html>
<head>
  <style type="text/css">

div {
font-family: Futura;
color: #09B2A9;
}

title{
font-family: Futura;
color: #09B2A9;
}
  </style>
    <title>Go Lists</title>

    <!-- Bootstrap -->
</head>
<body>
          <div>
            {% for message in get_flashed_messages()  %}
                {{ message }}
            {% endfor %}
          </div>
            {% block content %} 

            {% endblock %}

<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
-->
</body>
</html>