<!DOCTYPE html>
<html>
<head>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <style type="text/css">
div {
font-family: Futura;
color: #09B2A9;
}

h2 {
font-family: Futura;
color: #09B2A9;
}

h3 {
font-family: Futura;
color: #09B2A9;
}

title{
font-family: Futura;
color: #09B2A9;
}
  </style>
    <title>Go Lists</title>

    <!-- Bootstrap -->
</head>
<body>
        <h2 id="homepage-title"><a href="/">Go Lists</a></h2>
          <div>
            {% for message in get_flashed_messages()  %}
                {{ message }}
            {% endfor %}
          </div>
            {% block content %} 

            {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    
</body>
</html>