{% extends 'base.html' %}

{% from 'macros.html' import itemschoices %}

{% block content %}

<h2>Create a new List</h2>
    <div>
        <form action="/create_list_form" method="POST">
            Choose a location (city) <input type="text" name="location_name">
            <br> 
            Choose a list name <input type="text" name="list_name">
            <br>
            Add an item to your List      
                
                {{ itemschoices() }}
        </form>
    </div>
{% endblock %}