{% extends 'base.html' %}
{% block content %}
	<div id="homepage-block">
    	<h2 id="homepage-title">Go Lists</h2>

    	<div>
			<h3>Login</h3>
				<p><a href="/login">Login</a></p>
			<h3>Register</h3>
				<p><a href="/register">Sign up</a></p>
			<h3>Lists</h3>
				<p><a href="/lists">View all lists</a></p>
			<h3>Create List</h3>
				<p><a href="/create_list">Create a list</a></p>
			<h3>Users</h3>
				<p><a href="/users">View all users</a></p>
			<h3>Log out</h3>
				<p><a href="/logout">Log out</a></p>
		</div>
	</div>

{% endblock %}