{% extends 'base.html' %}

{% block content %}

<title>Homepage</title>

	<div id="homepage-nav">
    	
    		<h3><p class="nav-link"><a href="/register">Register</a></p><h3>
			<h3><p class="nav-link"><a href="/login">Login</a></p></h3>
			<h3><p class="nav-link"><a href="/my_lists">My Lists</a></p><h3>
			<h3><p class="nav-link"><a href="/create_list">Create a list</a></p><h3>
			<h3><p class="nav-link"><a href="/lists">View all lists</a></p><h3>
			<h3><p class="nav-link"><a href="/users">View all users</a></p><h3>
			<h3><p class="nav-link"><a href="/logout">Log out</a></p><h3>
		
	</div>

{% endblock %}