{% extends 'base.html' %}
{% block content %}
	<div id="homepage-block">
    	<h1 id="homepage-title">Go Lists</h1>

    	<div>
			<h2>Login</h2>
			<p><a href="/login">Login</a></p>

			<h2>Register</h2>
			<p><a href="/register">Sign up</a></p>

			<h2>Lists</h2>
			<p><a href="/lists">View all lists</a></p>

			<h2>Create List</h2>
			<p><a href="/create_list">Create a lists</a></p>

			<h2>Users</h2>
			<p><a href="/users">View all users</a></p>

			<h2>Log out</h2>
			<p><a href="/logout">Log out</a></p>
		</div>
	</div>

{% endblock %}