{% extends 'base.html' %}
{% block content %}

        <h2>List Info</h2>
    <div>
        <ul>
            <li>List Name: {{ list.list_name }}, {{list.location.location_name}}</li>
              
        {% for item in items %}
            <li>Items: {{ item.item_name }}, {{ item.item_address }}, {{ item.item_comments }}, {{ item.category.category_name }}</li>
      
        {% endfor %}
        </ul>
    </div>

{% endblock %}

           <!--  user must be logged in or get an error -->
<!-- <form action="/list" method="POST"> 
        <br>
    Rating 1-5 with 5 as the best: <input type="text" name="rating">
        <br>
    <input type="submit">    
        <br>
</form> -->

<!-- Want to show the lists details here, 
with the items shown individually
***Can I make the item_addres a clickable link or use the googlemaps API 
to show each item on a map - though the address should be clickable and the map will render whichever address you click on -->

