{% extends 'base.html' %}
{% block content %}

<h2>List Info</h2>
    <div>
        <!-- want to hide this link if the list_id doesn't belong to user_id in session -->
    <h3><a href="/add_item_to_existing_list">Add an item to your list</a><h3>
        
        <ul>
            <li>List Name: {{ lists.list_name }}</li>
            <li>{{ lists.location.location_name}}</li>

            {% for item in items %}
            <li>Category: {{ item.category.category_name }}</li> 
            <li>Item Name: {{ item.item_name }}</li> 
            <li>Address: {{ item.item_address }}</li> 
            <li>Comments: {{ item.item_comments }}</li>     
            {% endfor %}
            
        </ul>

    </div>

{% endblock %}


