<!-- {% extends 'base.html' %}
{% block content %}

        <h2>Movie Info</h2>
    <div>
        <hs>Rate this movie!</h3>
            <!user must be logged in or get an error -->
<!-- <form action="/rate" method="POST"> 
        <br>
    Rating 1-5 with 5 as the best: <input type="text" name="rating">
        <br>
    <input type="submit">    
        <br>
</form>

        <ul>
            <li>Movie Title: {{ movie.title }}</li>
             <li>Movie ID: {{ movie.movie_id }}</li>
            <li>Release Date: {{ movie.release_dt }}</li> 
            <li>Imdb Link: {{ movie.imdb_url }}</li>
        </ul>
        <ul>  
        {% for rating in ratings %}

            <li>Rating: {{rating.rating_id}} {{rating.user_id}} {{rating.score}}</li>
      
        {% endfor %}
          </ul>
    </div>

{% endblock %} -->