{% extends 'base.html' %}
{% block content %}

        <h2>List Info</h2>
    <div>
           <!--  user must be logged in or get an error -->
<!-- <form action="/list" method="POST"> 
        <br>
    Rating 1-5 with 5 as the best: <input type="text" name="rating">
        <br>
    <input type="submit">    
        <br>
</form> -->


<!-- Want to show the Users lists here, ordered by City, City ordered alphabetically
They should be clickable links to the list detail pages -->

        <ul>
            <li>List Name: {{ list.list_name }}</li>
            <li>Items: {{ item.item_id }}</li>
        </ul>
        <ul>  
        {% for list in lists %}

            <li>List: {{list.list_id}} {{list.user_id}} {{List.user_name}}</li>
      
        {% endfor %}
          </ul>
    </div>

{% endblock %}



