{% extends 'base.html' %}
{% block content %}

<h2>My Lists</h2>
    <div>
    	<h3><p><a href="/create_list">Create a new list</a></p><h3>
<!-- show "you have no lists if the user doesn't have a list" -->
        <ul> 
        {% for list in lists %}

            <li>City: {{list.location.location_name}}
                <ul>
                	<li>List Name: <a href="/lists/{{ list.list_id }}">{{ list.list_name}}</a>
            	</li>
            </ul>
        {% endfor %}
    </div>

{% endblock %}

<!-- Want to show the lists details here, 
with the items shown individually

***Can I make the item_addres a clickable link or use the googlemaps API 
to show each item on a map - though the address should be clickable and the map will render whichever address you click on -->

<!-- Want to show the Users lists here, ordered by City, City ordered alphabetically -->
