{% extends 'base.html' %}

{% block content %}

<title>My Lists Page</title>

<h2>My Lists</h2>
    <div>
    	<h3><p><a href="/create_list">Create a new list</a></p><h3>
<!-- show "you have no lists if the user doesn't have a list" -->
        <ul> 
        {% for list in lists %}

            <li>City: {{list.location.location_name}}
                <ul>
                	<li>List Name: <a href="/lists/{{ list.list_id }}">{{ list.list_name}}</a>
            	</li>
            </ul>
        {% endfor %}
    </div>

{% endblock %}
