{% extends 'base.html' %}
{% block content %}

        <h2>User Info</h2>
    <div>
        <ul>
            <li>User Name: {{ user.user_name }}</li> 
            <li>User email: {{ user.email }}</li>

        {% for list in lists %}
            <li>Lists: {{ list.list_name}}, {{list.location.location_name}}</li>
            
        {% endfor %}
        </ul> 


<!-- Want to show the Users lists here, ordered by City, City ordered alphabetically
They should be clickable links to the list detail pages -->

    </div>

{% endblock %}